@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);
@import url(../highlight.js/styles/github.css);
/*
    ____  __           __   __  _____ 
   / __ )/ /___  _____/ /__/  |/  / / 
  / __  / / __ \/ ___/ //_/ /|_/ / /  
 / /_/ / / /_/ / /__/ ,< / /  / / /___
/_____/_/\____/\___/_/|_/_/  /_/_____/

*/
/*////////////////////////////////////////////////////////////////////////////*/
/*                                   IMPORTS                                  */
/*////////////////////////////////////////////////////////////////////////////*/
/* Fonts */
/* highlight.js */
/*////////////////////////////////////////////////////////////////////////////*/
/*                       SASS VARS, MIXINS AND FUNCTIONS                      */
/*////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/
/*                                   RESET                                    */
/*////////////////////////////////////////////////////////////////////////////*/
* {
  margin: 0;
  padding: 0; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                  GENERAL                                   */
/*////////////////////////////////////////////////////////////////////////////*/
.in {
  width: 70%;
  display: block;
  margin: 0 auto;
  max-width: 660px;
  padding: 60px 0; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    FONT                                    */
/*////////////////////////////////////////////////////////////////////////////*/
html {
  -webkit-font-smoothing: antialiased; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14pt;
  line-height: 1.6em;
  color: #424242;
  word-wrap: break-word;
  text-align: center; }

h1, h2, h3, h4, h5, h6, p, li, div, span {
  font-weight: 400; }

p {
  padding-bottom: 1.6em; }

a, a span {
  color: #6176f6;
  text-decoration: none; }
  a:hover, a span:hover {
    text-decoration: underline;
    color: #0d2be4; }

::selection {
  background-color: #f1fc82; }

::-moz-selection {
  background-color: #f1fc82; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   HEADINGS                                 */
/*////////////////////////////////////////////////////////////////////////////*/
h1, h2, h3, h4, h5, h6 {
  padding: 0.6em 0;
  line-height: 1.2em; }

h1 {
  font-size: 28pt; }

h2 {
  font-size: 24pt; }

h3 {
  font-size: 22pt; }

h4 {
  font-size: 20pt; }

h5 {
  font-size: 18pt; }

h6 {
  font-size: 16pt; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                     BUTTON                                 */
/*////////////////////////////////////////////////////////////////////////////*/
.hollowButton, .filledButton {
  display: block;
  padding: 5px 0;
  width: 160px; }

.hollowButton {
  color: #424242;
  border: 1px solid #424242; }
  .hollowButton:hover {
    text-decoration: none;
    color: #8f8f8f;
    border: 1px solid #8f8f8f; }

.filledButton {
  color: white;
  background-color: #6176f6; }
  .filledButton:hover {
    text-decoration: none;
    background-color: #314cf3;
    color: white; }

.container {
  display: block;
  margin: 0 auto;
  max-width: 160px;
  padding: 1.6em 0; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   CODE                                     */
/*////////////////////////////////////////////////////////////////////////////*/
code {
  font-family: "Source Code Pro", monospace;
  text-align: left;
  /* Decoration */
  border: solid #dbdbdb 1px;
  -webkit-border-radius: 3px;
  /* Add a scrollbar for looooooong code */
  word-wrap: normal;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto; }

pre {
  width: 100%;
  font-size: 11pt;
  line-height: 1.6em; }

/* Creepy method to give pre a padding-bottom, 
which is as height as the other padding-bottoms,
where the font size is $fontSize and not 11pt */
pre:after {
  content: " ";
  display: block;
  font-size: 14pt;
  padding-bottom: 1.6em;
  height: 0; }

/* Some "improvements" of the github.css */
pre code {
  background-color: #f7f7f7; }

pre .title,
pre .id {
  color: #9537FF; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    TABLE                                   */
/*////////////////////////////////////////////////////////////////////////////*/
table {
  margin-bottom: 1.6em;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed; }

td, th {
  border: 1px solid #c2c2c2;
  height: 40px;
  padding: 0 10px; }
  td :last-child, th :last-child {
    padding-bottom: 0; }

th {
  background: #efefef; }
  th * {
    font-weight: 600; }

td {
  background: #fafafa;
  text-align: left; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                             STYLE MODIFIER                                 */
/*////////////////////////////////////////////////////////////////////////////*/
.marked {
  background-color: #f1fc82;
  padding: 0 0.3em; }

.bold {
  font-weight: 600; }

.underline {
  text-decoration: underline; }

.code {
  font-family: "Source Code Pro", monospace;
  font-size: 12pt;
  font-weight: 500;
  background-color: #f7f7f7;
  padding: 0 0.3em;
  -webkit-border-radius: 3px;
  border: solid #dbdbdb 1px;
  white-space: nowrap; }

.italic {
  font-style: italic; }

.strikethrough {
  text-decoration: line-through; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                NAVIGATION BAR                              */
/*////////////////////////////////////////////////////////////////////////////*/
#navBar {
  z-index: 9999;
  line-height: normal; }
  #navBar a {
    color: #424242;
    text-decoration: none; }
    #navBar a:hover {
      text-decoration: none;
      color: #8f8f8f; }
  #navBar a img:hover {
    opacity: 0.8; }
  @media screen and (min-width: 880px) {
    #navBar {
      background-color: red;
      background-color: RGBA(255, 255, 255, 0.95);
      border-bottom: 1px solid #f2f2f2;
      position: fixed;
      top: 0;
      width: 100%;
      height: 70px; }
      #navBar ul {
        text-align: right;
        margin: 22.55556px 0;
        margin-right: 40px; }
        #navBar ul li {
          display: inline;
          margin: 0 10px; }
      #navBar img {
        float: left;
        height: 50px;
        margin: 10px; } }
  @media screen and (max-width: 880px) {
    #navBar {
      background-color: white;
      background-color: RGBA(255, 255, 255, 0.95); }
      #navBar img {
        display: block;
        margin: 0 auto;
        height: 70px;
        padding: 20px; }
      #navBar ul {
        list-style: none;
        text-align: center; }
        #navBar ul li {
          line-height: 2em;
          border-top: 1px solid #e6e6e6; } }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    HEADER                                  */
/*////////////////////////////////////////////////////////////////////////////*/
#header {
  height: 500px;
  overflow: hidden; }
  #header #parallaxBG {
    background-image: url(../images/stars.svg);
    background-color: #262929;
    background-size: 250px;
    height: 100%;
    width: 100%;
    z-index: -9999;
    position: fixed;
    top: 0; }
  #header img {
    display: block;
    margin: 0 auto;
    width: 500px;
    position: relative;
    top: 150px;
    left: 150px; }
  @media screen and (max-width: 500px) {
    #header {
      height: 300px; }
      #header #parallaxBG {
        background-size: 150px; }
      #header img {
        width: 300px;
        top: 80px;
        left: 100px; } }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    BLOCKML                                 */
/*////////////////////////////////////////////////////////////////////////////*/
#blockML {
  background-color: white; }
  #blockML .grid {
    padding: 1.6em 0; }
    @media screen and (min-width: 500px) {
      #blockML .grid {
        display: block;
        margin: 0 auto;
        max-width: 350px;
        overflow: hidden; }
        #blockML .grid .hollowButton:nth-child(1) {
          float: left; }
        #blockML .grid .hollowButton:nth-child(2) {
          float: right; } }
    @media screen and (max-width: 500px) {
      #blockML .grid .hollowButton:nth-child(1) {
        display: block;
        margin: 0 auto;
        margin-bottom: 15px; }
      #blockML .grid .hollowButton:nth-child(2) {
        display: block;
        margin: 0 auto; } }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                HOW IT WORKS                                */
/*////////////////////////////////////////////////////////////////////////////*/
#howItWorks {
  background-color: #262929;
  color: #e6e6e6; }
  #howItWorks img {
    padding: 3.2em 0;
    display: block;
    margin: 0 auto;
    max-width: 100%; }
  #howItWorks .filledButton {
    display: block;
    margin: 0 auto; }
  #howItWorks p {
    display: block;
    margin: 0 auto;
    max-width: 500px; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                           FEATURES AND SYNTAX                              */
/*////////////////////////////////////////////////////////////////////////////*/
#featuresAndSyntax {
  background-color: white; }
  #featuresAndSyntax .in {
    padding-bottom: 0px; }
  #featuresAndSyntax table {
    margin: 1.6em 0 3.2em 0; }

.titleBar {
  background-color: #EDEDED;
  height: 50px;
  border-radius: 10px 10px 0 0; }

.titleBarButtons {
  position: relative;
  top: 13px;
  left: 7px; }

.titleBarButton {
  height: 15px;
  width: 15px;
  border-radius: 100px;
  margin: 6px;
  background-color: #878787;
  float: left; }

@media screen and (min-width: 500px) {
  .titleBarTitle {
    position: relative;
    top: 40px;
    padding-top: -40px;
    color: #878787;
    font-family: "Source Code Pro", monospace; } }
@media screen and (max-width: 500px) {
  .titleBarTitle {
    display: none; } }

.window {
  background-color: #262929;
  font-family: "Source Code Pro", monospace;
  text-align: left;
  color: white; }
  .window p:nth-child(1) {
    padding-top: 2em; }
  .window p:last-child {
    padding-bottom: 2em; }
  .window p {
    padding: 0 1em 1em 2em;
    line-height: 1em; }
  .window .keyword {
    color: #6176f6;
    background-color: rgba(97, 118, 246, 0.2); }
  .window .sectionHeading {
    color: #E586FC;
    background-color: rgba(229, 134, 252, 0.2); }

/*////////////////////////////////////////////////////////////////////////////*/
/*                             EXAMPLE DOCUMENTS                              */
/*////////////////////////////////////////////////////////////////////////////*/
#exampleDocuments {
  background-color: #DADADA; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                             	   GET STARTED                                */
/*////////////////////////////////////////////////////////////////////////////*/
#getStarted {
  background-color: #EDEDED; }
  #getStarted img {
    max-width: 100%; }
  #getStarted pre:before {
    content: " ";
    display: block;
    font-size: 14pt;
    padding-bottom: 1.6em;
    height: 0; }
  #getStarted .grid {
    overflow: hidden;
    padding: 1.6em 0; }
    #getStarted .grid img:nth-child(1) {
      float: left;
      width: 70%; }
    #getStarted .grid img:nth-child(2) {
      float: right;
      width: 70%;
      margin-left: -100%;
      position: relative;
      padding-top: 5%; }

.number {
  border: 1px solid #424242;
  border-radius: 100px;
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 2.2em;
  height: 2.2em;
  line-height: 2.2em; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                             	     FOOTER                                   */
/*////////////////////////////////////////////////////////////////////////////*/
#footer {
  background-color: #262929; }
