@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);
@import url(../highlight.js/styles/github.css);
/*
    ____  __           __   __  _____ 
   / __ )/ /___  _____/ /__/  |/  / / 
  / __  / / __ \/ ___/ //_/ /|_/ / /  
 / /_/ / / /_/ / /__/ ,< / /  / / /___
/_____/_/\____/\___/_/|_/_/  /_/_____/

*/
/*////////////////////////////////////////////////////////////////////////////*/
/*                                   IMPORTS                                  */
/*////////////////////////////////////////////////////////////////////////////*/
/* Fonts */
/* highlight.js */
/*////////////////////////////////////////////////////////////////////////////*/
/*                       SASS VARS, MIXINS AND FUNCTIONS                      */
/*////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/
/*                                   RESET                                    */
/*////////////////////////////////////////////////////////////////////////////*/
* {
  margin: 0;
  padding: 0; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    FONT                                    */
/*////////////////////////////////////////////////////////////////////////////*/
html {
  -webkit-font-smoothing: antialiased; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14pt;
  color: #424242;
  word-wrap: break-word; }

a, a span {
  color: #6176f6;
  text-decoration: none; }
  a:hover, a span:hover {
    color: #0d2be4; }
  a:hover, a span:hover {
    text-decoration: underline; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                NAVIGATION BAR                              */
/*////////////////////////////////////////////////////////////////////////////*/
#navBar {
  background-color: RGBA(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px; }
  #navBar a {
    color: #424242; }
    #navBar a:hover {
      color: #0f0f0f; }
  #navBar ul {
    text-align: right;
    margin: 22.55556px 0;
    margin-right: 40px; }
    #navBar ul li {
      display: inline;
      margin: 0 10px; }
  #navBar img {
    float: left;
    height: 50px;
    padding: 10px 0px;
    margin: 0 10px; }

#header {
  background-color: #262929;
  height: 500px; }
