@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);
/*
    ____  __           __   __  _____ 
   / __ )/ /___  _____/ /__/  |/  / / 
  / __  / / __ \/ ___/ //_/ /|_/ / /  
 / /_/ / / /_/ / /__/ ,< / /  / / /___
/_____/_/\____/\___/_/|_/_/  /_/_____/

*/
/*////////////////////////////////////////////////////////////////////////////*/
/*                                   IMPORTS                                  */
/*////////////////////////////////////////////////////////////////////////////*/
/* Fonts */
/*////////////////////////////////////////////////////////////////////////////*/
/*                       SASS VARS, MIXINS AND FUNCTIONS                      */
/*////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/
/*                                   RESET                                    */
/*////////////////////////////////////////////////////////////////////////////*/
* {
  margin: 0;
  padding: 0; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                  GENERAL                                   */
/*////////////////////////////////////////////////////////////////////////////*/
body {
  min-width: 1000px; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    FONT                                    */
/*////////////////////////////////////////////////////////////////////////////*/
html {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14pt;
  word-wrap: break-word; }

h1, h2, h3, h4, h5, h6, p, li, div, span {
  font-weight: 200; }

a {
  text-decoration: none;
  transition: opacity 0.2s, color 0.2s; }
  a:hover {
    text-decoration: none; }

::selection {
  background-color: #F1FC82; }

::-moz-selection {
  background-color: RGBA(241, 252, 130, 0.7); }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                     GRID                                   */
/*////////////////////////////////////////////////////////////////////////////*/
.grid-2 {
  overflow: hidden; }
  .grid-2 .gridMember:nth-child(1) {
    float: left; }
  .grid-2 .gridMember:nth-child(2) {
    float: right; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                     BUTTON                                 */
/*////////////////////////////////////////////////////////////////////////////*/
.button {
  display: block;
  width: 230px;
  border-radius: 40px;
  width: 230px;
  padding: 20px 0;
  color: #c2bc7a;
  border: 2px solid #c2bc7a;
  transition: color 0.2s, background-color 0.2s; }
  .button:hover {
    color: white;
    background-color: #c2bc7a; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                               NAVIGATION BAR                               */
/*////////////////////////////////////////////////////////////////////////////*/
#navBar {
  min-width: 1000px;
  background-color: RGBA(255, 255, 255, 0.9);
  z-index: 9999;
  line-height: normal;
  border-bottom: 1px solid #e6e6e6;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px; }
  #navBar a img {
    transition: opacity 0.2s; }
  #navBar a img:hover {
    opacity: 0.8; }
  #navBar ul {
    text-align: right;
    margin: 29.33333px 0;
    margin-right: 10px; }
    #navBar ul li {
      display: inline;
      margin: 0 12px;
      font-weight: 400;
      font-size: 12pt; }
    #navBar ul a {
      color: #262929; }
      #navBar ul a:hover {
        opacity: 0.6; }
  #navBar img {
    float: left;
    height: 60px;
    margin: 10px; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    HEADER                                  */
/*////////////////////////////////////////////////////////////////////////////*/
#header {
  height: 600px;
  overflow: hidden;
  text-align: center;
  background-color: RGBA(38, 41, 41, 0.4); }
  #header #parallaxBG {
    background-image: url(../images/stars.svg);
    background-color: #262929;
    background-size: 1200px;
    height: 100%;
    width: 100%;
    z-index: -9999;
    position: fixed;
    top: 0; }
  #header h1 {
    font-size: 70pt;
    color: white;
    padding-top: 190px;
    padding-left: 20px;
    letter-spacing: 0.3em; }
    #header h1 b {
      font-weight: 400; }
  #header h4 {
    color: white;
    margin-top: 5px;
    font-size: 16pt; }
  #header .button {
    display: block;
    margin: 0 auto;
    margin-top: 35px; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                INTRODUCTION                                */
/*////////////////////////////////////////////////////////////////////////////*/
#introduction {
  background-color: white;
  color: #262929; }
  #introduction .in {
    display: block;
    margin: 0 auto;
    max-width: 700px;
    padding-top: 50px;
    padding-bottom: 100px; }
  #introduction h1 {
    font-weight: 400;
    font-size: 36pt;
    padding-bottom: 30px; }
  #introduction p {
    padding-bottom: 30px;
    line-height: 1.8em;
    opacity: 0.8; }
    #introduction p:last-of-type {
      padding-bottom: 0; }
    #introduction p b {
      font-weight: 400; }

#triangle {
  background-image: url(../images/triangle.svg);
  background-size: 100% 70px;
  height: 70px;
  width: 100%;
  position: relative;
  bottom: 69px;
  margin-bottom: -71px; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                               GETTING STARTED                              */
/*////////////////////////////////////////////////////////////////////////////*/
#gettingStarted {
  background-color: #c2bc7a;
  padding-top: 200px; }

#gettingStarted .in {
  width: 940px;
  display: block;
  margin: 0 auto; }

.titleBar {
  background-color: #EDEDED;
  height: 40px;
  border-radius: 10px 10px 0 0; }

.titleBarButtons {
  position: relative;
  top: 10px;
  left: 7px; }

.titleBarButton {
  height: 13px;
  width: 13px;
  border-radius: 100px;
  margin: 4px;
  background-color: #878787;
  float: left; }

.titleBarTitle {
  position: relative;
  top: 31px;
  color: #878787;
  font-family: "Source Code Pro", monospace;
  font-size: 10pt;
  text-align: center;
  line-height: 1.6em;
  margin-top: -1.6em; }

#output .titleBarTitle {
  text-align: left;
  padding-left: 100px; }

.textField {
  padding: 8px 14px 0 80px; }
  .textField div {
    height: 25px;
    max-width: 100%;
    background-color: white;
    border-radius: 100px; }

#source, #output {
  width: 450px; }

#gettingStarted .grid-2 {
  position: relative; }
  #gettingStarted .grid-2 h1, #gettingStarted .grid-2 h2, #gettingStarted .grid-2 h3, #gettingStarted .grid-2 h4, #gettingStarted .grid-2 h5, #gettingStarted .grid-2 h6, #gettingStarted .grid-2 p, #gettingStarted .grid-2 li, #gettingStarted .grid-2 div, #gettingStarted .grid-2 span {
    font-weight: 400; }

#source {
  position: absolute;
  bottom: 0; }

#source .window {
  background-color: #262929;
  font-family: "Source Code Pro", monospace;
  font-size: 10pt;
  text-align: left;
  color: white; }
  #source .window p:nth-child(1) {
    padding-top: 2.1em; }
  #source .window p:last-child {
    padding-bottom: 2.1em; }
  #source .window p {
    padding: 0 2.1em 0.7em 2.1em;
    line-height: 1.4em; }
  #source .window .keyword {
    color: #6176f6;
    background-color: rgba(97, 118, 246, 0.2); }
  #source .window .sectionHeading {
    color: #E586FC;
    background-color: rgba(229, 134, 252, 0.2); }
  #source .window .comment {
    color: #4d4d4d; }

#output .window {
  background-color: white;
  color: #424242;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12pt;
  line-height: 1.6em;
  word-wrap: break-word;
  font-size: 10pt; }
  #output .window * {
    margin: 0;
    padding: 0;
    text-align: left; }
  #output .window .inner {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 30px 0; }
  #output .window p {
    padding-bottom: 0.6em;
    text-align: left; }
  #output .window h1 {
    font-size: 22pt; }
  #output .window h2 {
    font-size: 20pt; }
  #output .window h3 {
    font-size: 18pt; }
  #output .window h4 {
    font-size: 16pt; }
  #output .window h5 {
    font-size: 14pt; }
  #output .window h6 {
    font-size: 12pt; }
  #output .window a, #output .window a span {
    color: #6176f6;
    text-decoration: none; }
    #output .window a:hover, #output .window a span:hover {
      color: #0d2be4; }
  #output .window h1, #output .window h2, #output .window h3, #output .window h4, #output .window h5, #output .window h6 {
    padding: 0.6em 0;
    line-height: 1.2em; }
  #output .window .frontpage {
    padding-bottom: 15px; }
    #output .window .frontpage h1, #output .window .frontpage h2, #output .window .frontpage h3, #output .window .frontpage h4, #output .window .frontpage h5, #output .window .frontpage h6, #output .window .frontpage #title {
      padding: 0.2em 0;
      text-align: center; }
  #output .window #title {
    text-align: center;
    font-size: 26pt;
    padding-bottom: 30px; }
  #output .window #toc {
    padding-bottom: 30px; }
    #output .window #toc ul {
      list-style: none;
      /* List should start on the left edge */
      padding-left: 0;
      padding-bottom: 0; }
      #output .window #toc ul ul {
        /* SubLists are indented */
        padding-left: 1.4em; }
    #output .window #toc li {
      /* Set a repeating background picture on the bottom */
      background: url(dot.svg) repeat-x bottom left;
      /* To give the Link a fix position */
      position: relative; }
      #output .window #toc li > span {
        display: inline-block;
        max-width: 90%; }
        #output .window #toc li > span span {
          /* Make a white box around the text to hide the background dots */
          height: 1.6em;
          padding-left: 0em;
          padding-right: 0.2em;
          background-color: white;
          /* Move the Text a few Pixel deeper than its normal bottom */
          /* Moving the Picture is not possible...for reasons...*/
          position: relative;
          bottom: -0.4em; }
    #output .window #toc a {
      float: right;
      display: block;
      height: 100%;
      position: absolute;
      /* Move the Link a few Pixel deeper than its normal bottom */
      bottom: -0.3em;
      right: 0; }
      #output .window #toc a span {
        /* Move the Text to the bottom of List */
        position: absolute;
        bottom: 0;
        right: 0;
        /* Make a white box around the text to hide the background dots */
        height: 1.6em;
        padding-left: 0.3em;
        padding-right: 0em;
        background-color: white; }
