/*
    ____  __           __   __  _____ 
   / __ )/ /___  _____/ /__/  |/  / / 
  / __  / / __ \/ ___/ //_/ /|_/ / /  
 / /_/ / / /_/ / /__/ ,< / /  / / /___
/_____/_/\____/\___/_/|_/_/  /_/_____/

*/

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   IMPORTS                                  */
/*////////////////////////////////////////////////////////////////////////////*/

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);

/*////////////////////////////////////////////////////////////////////////////*/
/*                       SASS VARS, MIXINS AND FUNCTIONS                      */
/*////////////////////////////////////////////////////////////////////////////*/

@mixin centerWithWidth($width) {
	display: block;
	margin: 0 auto;
	max-width: $width;
}

@mixin center {
	display: block;
	margin: 0 auto;
}

@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

$fontSize: 14pt;
$minWidth: 1000px;
$duration: 0.2s;
$buttonWidth: 230px;

// Colors
$blackRussian: #262929;
$gold: #D6D198;
$neonBlue: #6176F6;
$alto: #C6C6C6;
$violet: #E489FF;
$neonYellow: #F1FC82;

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   RESET                                    */
/*////////////////////////////////////////////////////////////////////////////*/

* {
    margin: 0;
    padding: 0;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                  GENERAL                                   */
/*////////////////////////////////////////////////////////////////////////////*/

body {
	min-width: $minWidth;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    FONT                                    */
/*////////////////////////////////////////////////////////////////////////////*/

html {
	@include font-smoothing(off);
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: $fontSize;
	word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6, p, li, div, span {
	font-weight: 200;
}

a {
	text-decoration: none;
	transition: opacity $duration, color $duration;
	&:hover {
		text-decoration: none;
	}
}

::selection { 
	background-color: $neonYellow;
//	background-color: #E489FF;
}
::-moz-selection { 
	background-color: rgba($neonYellow, 0.7); 
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                     GRID                                   */
/*////////////////////////////////////////////////////////////////////////////*/

.grid-2 {
	.gridMember:nth-child(1) {
		float: left;
	}
	.gridMember:nth-child(2) {
		float: right;
	}
	overflow: hidden;
}

.grid-3 {
	.gridMember:nth-child(1) {
		float: left;
	}
	.gridMember:nth-child(2) {
		float: left;
	}
	.gridMember:nth-child(3) {
		float: left;
	}
	overflow: hidden;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                     BUTTON                                 */
/*////////////////////////////////////////////////////////////////////////////*/

.button {
	display: block;
	width: $buttonWidth;
	border-radius: 40px;
	padding: 20px 0;
	text-align: center;
	transition: color $duration, background-color $duration;
}

@mixin buttonColor($strokeColor, $hoverFillColor, $hoverTextColor) {
	color: $strokeColor;
	border: 2px solid $strokeColor;
	&:hover {
		color: $hoverTextColor;
		background-color: $hoverFillColor;
	}

}

/*////////////////////////////////////////////////////////////////////////////*/
/*                               NAVIGATION BAR                               */
/*////////////////////////////////////////////////////////////////////////////*/

#navBar {
	min-width: $minWidth;
	background-color: rgba(white, 0.9);
	$borderColor: darken(white, 10%);
	z-index: 9999;
	$fontSize: 12pt;
	a img {
		transition: opacity $duration;
	}
	a img:hover {
		opacity:0.6;
	}
	line-height: normal;
	$navBarHeight: 90px;
	border-bottom: 1px solid $borderColor;
	position: fixed;
	top: 0;
	width: 100%;
	height: $navBarHeight;
	ul {
		text-align: right;
		// center ul vertically
		// $fontSize*96/72 converts pt to px
		// 1 Point = 1.3333333333333 Pixel
		margin: ($navBarHeight - ($fontSize * 96 / 72)) / 2 0;
		margin-right: 15px;
		li {
			display: inline;
			margin: 0 12px;
			font-weight: 400;
			font-size: $fontSize;
			&:last-of-type {
				margin-right: 0;
			}
		}
		a {
			color: $blackRussian;
		    &:hover {
				opacity:0.3;
			}
		}
	}
	img {
		float: left;
		$iconPadding: 10px;
		height: $navBarHeight - ($iconPadding * 2);
		margin: $iconPadding;
	}
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    HEADER                                  */
/*////////////////////////////////////////////////////////////////////////////*/

#header {
	@include font-smoothing(on);
	#parallaxBG {
		background-image: url(../images/stars.svg);
		background-color: $blackRussian;
		background-size:1280px;		
		height: 100%;
		width: 100%;
		z-index: -9999;
		position: fixed;
		top: 0;
	}
	height: 650px;
	overflow: hidden;
	text-align: center;
	// To quiet the background image intensity
	background-color: rgba($blackRussian, 0.4);
	h1 {
		font-size: 70pt;
		color: white;
		padding-top: 210px;
		// h1 seems not optically centered
		padding-left: 20px;
		letter-spacing:0.4em;
		b {
			font-weight: 400;
		}
	}
	h4 {
		color: white;
		margin-top: 0px;
		font-size: 16pt;
	}
	.button {
		@include buttonColor($gold, $gold, white);
		@include center;
		margin-top: 50px;
		&:hover {
			@include font-smoothing(off);
		}
	}
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                INTRODUCTION                                */
/*////////////////////////////////////////////////////////////////////////////*/

#introduction {
	background-color: white;
	.in {
		@include centerWithWidth(700px);
		padding-top: 50px;
		padding-bottom: 100px;
	}
	h1 {
		color: $blackRussian;
		font-weight: 400;
		font-size: 36pt;
		padding-bottom: 30px;
	}
	p {
		padding-bottom: 30px;
		line-height: 1.8em;
		color: #706F6F;
		&:last-of-type {
			padding-bottom: 0;
		}
		b {
			font-weight: 400;
			color: $blackRussian;
		}
	}
}

#triangle {
	$triangleHeight: 70px;
	background-image: url(../images/triangle.svg);
	background-size:100% $triangleHeight;
	height: $triangleHeight;
	width: 100%;
	position: relative;
	bottom: $triangleHeight - 1px;
	margin-bottom: -$triangleHeight - 1px;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   EXAMPLE                                  */
/*////////////////////////////////////////////////////////////////////////////*/

#example {
	background-color: $alto;
	overflow: hidden;
	p {
		color: white;
		font-weight: 400;
		text-align: center;
		padding-top: 50px;
		padding-bottom: 30px;
	}
	.button {
		@include buttonColor(white, white, $alto);
	}
	.parentGrid {
		@include centerWithWidth(($buttonWidth * 2) + 20px);
		margin-bottom: 50px;
		.grid-2 {
			width: $buttonWidth;
			.button {
				width: ($buttonWidth / 2) - 12px;
			}
		}
	}
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                               GETTING STARTED                              */
/*////////////////////////////////////////////////////////////////////////////*/

$instructionWidth: 220px;

#gettingStarted {
	background-color: $gold;
	.in {
		padding-top: 100px;
		width: 940px;
		@include center;
	}
	h1.real {
		color: white;
		@include font-smoothing(on);
		font-weight: 400;
		font-size: 36pt;
		padding-bottom: 60px;
		text-align: center;
	}
	p.real {
		color: white;

	}
	.grid-3 {
		@include centerWithWidth(700px);
		.gridMember:nth-child(2) {
			margin: 0 (700px - $instructionWidth*3)/2;
		}
		padding-bottom: 60px;
	}
}

.instruction {
	width: $instructionWidth;
	text-align: center;
	overflow: hidden;
}

.number {
	border: 2px solid white;
	border-radius: 100px;
	@include center;
	padding: 0;
	$circleSize: 2.2em;
	width: $circleSize;
	height: $circleSize;
	line-height: $circleSize;
	color: white;
	text-align: center;
	font-size: 36pt;
	@include font-smoothing(on);
	margin-bottom: 30px;
}

.titleBar {
	background-color: #EDEDED;
	height: 40px;
	border-radius: 10px 10px 0 0;
}

.titleBarButtons {
	position: relative;
	top: 10px;
	left: 7px;
}

.titleBarButton {
	$titleBarButtonSize: 13px;
	height: $titleBarButtonSize;
	width: $titleBarButtonSize;
	border-radius: 100px;
	margin: 4px;
	background-color: #878787;
	float: left;
}

.titleBarTitle {
	position: relative;
	top: 31px;
	color: #878787;
	font-family:"Source Code Pro", monospace;
	font-size: 10pt;
	text-align: center;
	line-height: 1.6em;
	margin-top: -1.6em;
}

#output .titleBarTitle {
	text-align: left;
	padding-left: 100px;
}

.textField {
	div {
		height: 25px;
		max-width: 100%;
		background-color: white;
		border-radius: 100px;
	}
	padding: 8px 14px 0 80px;
}

#source, #output {
	width: 450px;
	@include font-smoothing(on);
}

#gettingStarted .grid-2 {
	position: relative;
	h1, h2, h3, h4, h5, h6, p, li, div, span {
		font-weight: 400;
	}
}

#source {
	position: absolute;
	bottom: 0;
}

#source .window {
	background-color: $blackRussian;
	font-family:"Source Code Pro", monospace;
	font-size: 10pt;
	text-align: left;
	color: white;

	$fakeCodePadding: 0.7em;
	p:nth-child(1) {
		padding-top: $fakeCodePadding * 3;
	}
	p:last-child {
		padding-bottom: $fakeCodePadding * 3
	}
	p {
		padding: 0 $fakeCodePadding*3 $fakeCodePadding $fakeCodePadding*3;
		line-height: 1.4em;
	}
	.keyword {
		color: $neonBlue;
		background-color: rgba($neonBlue, 0.2);
	}
	.sectionHeading {
		color: $violet; 
		background-color: rgba($violet, 0.2);
	}
	.comment {
		color: darken(white, 70%);
	}
}

#output .window {
	// Reset
    * {
	    margin: 0;
	    padding: 0;
	    text-align: left;
	}

	background-color: white;
	$fontColor: #424242;
	color: $fontColor;
	$generalPadding: 30px;
	$paragraphPadding: 0.6em;

	.inner {
		@include center;
		width: 80%;
		padding: $generalPadding 0;
	}

	// Text
	font-family: 'Source Sans Pro', sans-serif;
	font-size: $fontSize;
	line-height: 1.6em;
	word-wrap: break-word;
	font-size: 10pt;
	p {
		padding-bottom: $paragraphPadding;
		text-align: left;
	}
	h1 {
		font-size: 22pt;
	}

	h2 {
		font-size: 20pt;
	}

	h3 {
		font-size: 18pt;
	}

	h4 {
		font-size: 16pt;
	}

	h5 {
		font-size: 14pt;
	}

	h6 {
		font-size: 12pt;
	}
	a, a span {
		color: $neonBlue;
	    text-decoration: none;
	    &:hover {
			color: darken($neonBlue, 20%);
		}
	}
	h1, h2, h3, h4, h5, h6 {
		padding: 0.6em 0;
		line-height: 1.2em;
	}
	.document_head {
		padding-bottom: $generalPadding/2;
		h1, h2, h3, h4, h5, h6, #title {
			padding: 0.2em 0;
			text-align: center;
		}
	}
	#title {
		text-align: center;
		font-size: 26pt;
		padding-bottom: $generalPadding;
	}
	// TOC 
	@mixin backgroundArea($paddingLeft, $paddingRight) {
	/* Make a white box around the text to hide the background dots */
		height: 1.6em;
		padding-left: $paddingLeft;
		padding-right: $paddingRight;
		background-color: white;
	}

	#toc {
		padding-bottom: $generalPadding;
		ul {
			list-style: none;
			/* List should start on the left edge */
			padding-left: 0;
			padding-bottom: 0;

			ul {
				/* SubLists are indented */
				padding-left: 1.4em;
			}
		}
		li {
			/* Set a repeating background picture on the bottom */
			background: url(dot.svg) repeat-x bottom left;
			/* To give the Link a fix position */
			position: relative;
			> span {
				display: inline-block;
				max-width: 90%;
				span {
					@include backgroundArea(0em, 0.2em);
					/* Move the Text a few Pixel deeper than its normal bottom */
					/* Moving the Picture is not possible...for reasons...*/
					position: relative;
					bottom: -0.4em;
				}
			}
		}
		a {
			float: right;
			display: block;
			height: 100%;

			position: absolute; 
			/* Move the Link a few Pixel deeper than its normal bottom */
			bottom: -0.3em;
			right: 0;

			span {
				/* Move the Text to the bottom of List */
				position: absolute; 
				bottom: 0;
				right: 0;
				@include backgroundArea(0.3em, 0em);
			}
		}
	}
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                 APP DOWNLOAD                               */
/*////////////////////////////////////////////////////////////////////////////*/

#appDownload {
	background-color: $neonBlue;
	overflow: hidden;
	.button {
		@include buttonColor(white, white, $neonBlue);
		@include center;
		margin-top: 50px;
		margin-bottom: 50px;
	}
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   APP IMAGE                                */
/*////////////////////////////////////////////////////////////////////////////*/

#appImage {
	background-color: #44E588;
	img {
		@include center;
		padding-top: 60px;
		padding-bottom: 30px;
	}
	background-image: url(../images/galaxy.svg);
	background-position: center;
	@media screen and (min-width: 3000px) {
		background-size: 100%;
	}
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                 DOCUMENTATION                              */
/*////////////////////////////////////////////////////////////////////////////*/

#documentation {
	background-color: $alto;
	overflow: hidden;
	p {
		color: white;
		font-weight: 400;
		text-align: center;
		padding-top: 50px;
		padding-bottom: 30px;
	}
	.button {
		@include buttonColor(white, white, $alto);
		@include center;
		margin-bottom: 50px;
	}
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                EDITOR PLUGIN                               */
/*////////////////////////////////////////////////////////////////////////////*/

#editorPlugins {
	background-color: $violet;
	overflow: hidden;
	p {
		color: white;
		font-weight: 400;
		text-align: center;
		padding-top: 50px;
		padding-bottom: 30px;
	}
	.button {
		@include buttonColor(white, white, $violet);
	}
	.grid-2 {
		@include centerWithWidth(($buttonWidth * 2) + 24px);
		margin-bottom: 50px;
	}
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                             	     FOOTER                                   */
/*////////////////////////////////////////////////////////////////////////////*/

#footer {
	background-color: white;
	color: $alto;
	.in{
		width: 90%;
		@include centerWithWidth(100%);
		padding: 70px 0;
	}
	a:hover {
		opacity:0.5;
	}
	img {
		height: 20px;
		padding: 0 10px;
	}
	p {
		text-align: center;
	}

	// Desktop
	p {
		float: left;
		line-height: 1em;
		padding: 0;
	}
	.grid {
		float: right;
		line-height: 0em;
	}
	.in {
		overflow: hidden;
	}
}


















