/*
    ____  __           __   __  _____
   / __ )/ /___  _____/ /__/  |/  / /
  / __  / / __ \/ ___/ //_/ /|_/ / /
 / /_/ / / /_/ / /__/ ,< / /  / / /___
/_____/_/\____/\___/_/|_/_/  /_/_____/

*/

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   IMPORTS                                  */
/*////////////////////////////////////////////////////////////////////////////*/

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

/* highlight.js */
//@import url(http://yandex.st/highlightjs/7.3/styles/github.min.css);
@import url(../highlight/styles/github.css);

/*////////////////////////////////////////////////////////////////////////////*/
/*                       SASS VARS, MIXINS AND FUNCTIONS                      */
/*////////////////////////////////////////////////////////////////////////////*/

@mixin centerWithWidth($width) {
	display: block;
	margin: 0 auto;
	max-width: $width;
}

@mixin center {
	display: block;
	margin: 0 auto;
}

$generalPadding: 60px;
$paragraphPadding: 1.6em;

$fontSize: 14pt;
$fontColor: #424242;
$linkColor: #6176F6;
$selectionColor: #F1FC82;

$codeBackgroundColor: lighten($fontColor, 72%);
$codeBorder: solid lighten($fontColor, 60%) 1px;

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   RESET                                    */
/*////////////////////////////////////////////////////////////////////////////*/

* {
    margin: 0;
    padding: 0;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                  GENERAL                                   */
/*////////////////////////////////////////////////////////////////////////////*/

body {
	width: 660px;
	@include centerWithWidth(70%);
	padding: $generalPadding*2 0;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    FONT                                    */
/*////////////////////////////////////////////////////////////////////////////*/

html {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: $fontSize;
	line-height: 1.6em;
	color: $fontColor;
	word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6, p, li, div, span {
	font-weight: 400;
}

p {
	padding-bottom: $paragraphPadding;
}

a, a span {
    text-decoration: none;
    color: $linkColor;
    &:hover {
		color: darken($linkColor, 20%);
		text-decoration: underline;
	}
}

::selection {
	background-color: $selectionColor;
}
::-moz-selection {
	background-color: $selectionColor;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   HEADINGS                                 */
/*////////////////////////////////////////////////////////////////////////////*/

h1, h2, h3, h4, h5, h6 {
	padding: 0.6em 0;
	line-height: 1.2em;
}

h1 {
	font-size: 28pt;
}

h2 {
	font-size: 24pt;
}

h3 {
	font-size: 22pt;
}

h4 {
	font-size: 20pt;
}

h5 {
	font-size: 18pt;
}

h6 {
	font-size: 16pt;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    TITLE                                   */
/*////////////////////////////////////////////////////////////////////////////*/

#title {
	text-align: center;
	font-size: 36pt;
	padding-bottom: $generalPadding;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    ERROR                                   */
/*////////////////////////////////////////////////////////////////////////////*/

.error {
	background-color: $selectionColor;
	text-align: center;
	padding: 0.4em 0;
	font-family:"Source Code Pro", monospace;
	font-weight: 500;
	color: darken($selectionColor, 40%);
	border-radius: 6px;
	border: solid darken($selectionColor, 30%) 1px;
	margin-bottom: $paragraphPadding;

	a {
		color: darken($selectionColor, 32%);
		text-decoration: underline;
	}
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    TOC                                     */
/*////////////////////////////////////////////////////////////////////////////*/

/* Hä? */

@mixin backgroundArea($paddingLeft, $paddingRight) {
/* Make a white box around the text to hide the background dots */
	height: 1.6em;
	padding-left: $paddingLeft;
	padding-right: $paddingRight;
	background-color: white;
}

#toc {
	padding-bottom: $generalPadding;
	ul {
		list-style: none;
		/* List should start on the left edge */
		padding-left: 0;
		padding-bottom: 0;

		ul {
			/* SubLists are indented */
			padding-left: 1.4em;
		}
	}
	li {
		/* Set a repeating background picture on the bottom */
		background: url(dot.svg) repeat-x bottom left;
		/* To give the Link a fix position */
		position: relative;
		> span {
			display: inline-block;
			max-width: 90%;
			span {
				@include backgroundArea(0em, 0.2em);
				/* Move the Text a few Pixel deeper than its normal bottom */
				/* Moving the Picture is not possible...for reasons...*/
				position: relative;
				bottom: -0.4em;
			}
		}
	}
	a {
		float: right;
		display: block;
		height: 100%;

		position: absolute;
		/* Move the Link a few Pixel deeper than its normal bottom */
		bottom: -0.3em;
		right: 0;

		span {
			/* Move the Text to the bottom of List */
			position: absolute;
			bottom: 0;
			right: 0;
			@include backgroundArea(0.3em, 0em);
		}
	}
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   CODE                                     */
/*////////////////////////////////////////////////////////////////////////////*/

code {
	font-family:"Source Code Pro", monospace;

	/* Decoration */
	border: $codeBorder;
	-webkit-border-radius: 3px;

	/* Add a scrollbar for looooooong code */
	word-wrap: normal;
	overflow: scroll;
	overflow-y: auto;
	overflow-x: auto;
}

pre {
  	width: 100%;
    font-size: 11pt;
    line-height: 1.6em;
}

/* Creepy method to give pre a padding-bottom,
which is as height as the other padding-bottoms,
where the font size is $fontSize and not 11pt */
pre:after {
	content: " ";
    display: block;
    font-size: $fontSize;
    padding-bottom: $paragraphPadding;
    height: 0;
}

/* Some "improvements" of the github.css */
pre code {
	background-color: $codeBackgroundColor;
}
pre .title,
pre .id {
	color: #AC64E1;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    IMAGE                                   */
/*////////////////////////////////////////////////////////////////////////////*/

img {
	max-width: 100%;
	padding-bottom: $paragraphPadding;
	@include center;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                     LIST                                   */
/*////////////////////////////////////////////////////////////////////////////*/

ul, ol {
	padding: 0 0 $paragraphPadding 1.4em;
   ul, ol {
		padding: 0 0 0 2em;
	}
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   CAPTION                                  */
/*////////////////////////////////////////////////////////////////////////////*/

.cap {
	@include centerWithWidth(80%);
	text-align: center;
	padding-bottom: $paragraphPadding;

	span {
		font-weight: 600;
	}
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                 BIBLIOGRAPHY                               */
/*////////////////////////////////////////////////////////////////////////////*/

.bib {
	padding-bottom: $paragraphPadding;
	> a {
		position: absolute;
		/* needed to break long links */
		width: 130px;
		display: block;
	}
	p {
		margin-left: 140px;
		&:last-of-type {
			padding-bottom: 0;
		}
	}
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                	BLOCKQUOTE                                */
/*////////////////////////////////////////////////////////////////////////////*/

.quote {
	padding-bottom: $paragraphPadding;
	font-style: italic;
	@include centerWithWidth(70%);

	p:last-of-type {
		padding-bottom: 0;
	}

	p {
		margin-left: 40px;
	}

	&:before {
		content: "“";
		font-size: $fontSize*5;
		color: lighten($fontColor, 20%);
		position: absolute;
		line-height: 0.6em;
	}

	.source {
		color: lighten($fontColor, 30%);
		font-size: $fontSize*0.9;
		margin-left: 40px;
		&:before {
			content: "— ";
		}
		a {
			color: lighten($fontColor, 20%);
		}
	}
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                     MATH                                   */
/*////////////////////////////////////////////////////////////////////////////*/

div.math {
    padding-bottom: $paragraphPadding;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   ENDNOTES                                 */
/*////////////////////////////////////////////////////////////////////////////*/

// #fn-1 is always the first endnote
#fn-1 {
	padding-top: $paragraphPadding;
	margin-top: $generalPadding;
	border-top: 1px solid $fontColor;
}

.en {
	padding-bottom: $paragraphPadding;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    TABLE                                   */
/*////////////////////////////////////////////////////////////////////////////*/

table {
	margin-bottom: $paragraphPadding;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}

table, td, td {
	:last-child {
		padding-bottom: 0;
	}
	padding: 0 10px;
}

td, th {
	border: 1px solid lighten($fontColor, 50%);
	height: 40px;
}

th {
	background: lighten($fontColor, 66%);
	* {
		font-weight: 600;
	}
}

td {
	background: lighten($fontColor, 72%);
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                             STYLE MODIFIER                                 */
/*////////////////////////////////////////////////////////////////////////////*/

.marked {
	background-color: $selectionColor;
	padding: 0 0.3em;
}

.bold {
	font-weight: 700;
}

.underline {
	text-decoration: underline;
}

.code {
	font-family:"Source Code Pro", monospace;
	font-size: 12pt;
	font-weight: 500;
	background-color: $codeBackgroundColor;
	padding: 0 0.3em;

	-webkit-border-radius: 3px;
	border: $codeBorder;

	white-space: nowrap;
}

.italic {
	font-style: italic;
}

.strikethrough {
	text-decoration: line-through;
}

.sub, .sup {
	font-size: 80%;
}

.sub {
	vertical-align: sub;
}

.sup {
	vertical-align: super;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                	DOCUMENT HEAD                             */
/*////////////////////////////////////////////////////////////////////////////*/

.document_head {
	text-align: center;
	padding-bottom: $generalPadding;
	img, {
		padding-bottom: 0;
	}
	h6 {
		color: lighten($fontColor, 30%);
	}
	h1, h2, h3, h4, h5, h6, #title {
		padding: 0.2em 0;
	}
}
