@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);
/*
    ____  __           __   __  _____ 
   / __ )/ /___  _____/ /__/  |/  / / 
  / __  / / __ \/ ___/ //_/ /|_/ / /  
 / /_/ / / /_/ / /__/ ,< / /  / / /___
/_____/_/\____/\___/_/|_/_/  /_/_____/

*/
/*////////////////////////////////////////////////////////////////////////////*/
/*                                   IMPORTS                                  */
/*////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/
/*                       SASS VARS, MIXINS AND FUNCTIONS                      */
/*////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/
/*                                   RESET                                    */
/*////////////////////////////////////////////////////////////////////////////*/
* {
  margin: 0;
  padding: 0; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                  GENERAL                                   */
/*////////////////////////////////////////////////////////////////////////////*/
body {
  max-width: 660px;
  display: block;
  margin: 0 auto;
  width: 70%;
  padding: 120px 0; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    FONT                                    */
/*////////////////////////////////////////////////////////////////////////////*/
html {
  -webkit-font-smoothing: antialiased; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14pt;
  line-height: 1.6em;
  color: #575756;
  word-wrap: break-word; }

h1, h2, h3, h4, h5, h6, p, li, div, span {
  font-weight: 400; }

p {
  padding-bottom: 1.4em; }

a {
  text-decoration: none;
  color: #6176f6; }
  a:hover {
    color: #0d2be4;
    text-decoration: underline; }

::selection {
  background-color: #f1fc82; }

::-moz-selection {
  background-color: #f1fc82; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   HEADINGS                                 */
/*////////////////////////////////////////////////////////////////////////////*/
h1, h2, h3, h4, h5, h6 {
  padding: 0.6em 0;
  line-height: 1.2em; }

h1 {
  font-size: 28pt; }

h2 {
  font-size: 22pt; }

h3 {
  font-size: 18pt; }

h4 {
  font-size: 16pt; }

h5 {
  font-size: 14pt; }

h6 {
  font-size: 12pt; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    TITLE                                   */
/*////////////////////////////////////////////////////////////////////////////*/
#title {
  text-align: center;
  font-size: 36pt;
  padding-bottom: 60px; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    ERROR                                   */
/*////////////////////////////////////////////////////////////////////////////*/
.error {
  background-color: #f1fc82;
  text-align: center;
  padding: 0.4em 0;
  font-family: "Source Code Pro", monospace;
  font-weight: 500;
  color: #9fae04;
  border-radius: 10px;
  margin-bottom: 1.4em; }
  .error a {
    color: #c3d605;
    text-decoration: underline; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    TOC                                     */
/*////////////////////////////////////////////////////////////////////////////*/
/* Hä? */
#toc {
  padding-bottom: 60px; }
  #toc ul {
    list-style: none;
    /* List should start on the left edge */
    padding-left: 0;
    padding-bottom: 0; }
    #toc ul ul {
      /* SubLists are indented */
      padding-left: 1.4em; }
  #toc li {
    /* Set a repeating background picture on the bottom */
    background: url(dot.svg) repeat-x bottom left;
    /* To give the Link a fix position */
    position: relative; }
    #toc li > span {
      display: inline-block;
      max-width: 90%; }
      #toc li > span span {
        /* Make a white box around the text to hide the background dots */
        height: 1.6em;
        padding-left: 0em;
        padding-right: 0.2em;
        background-color: white;
        /* Move the Text a few Pixel deeper than its normal bottom */
        /* Moving the Picture is not possible...for reasons...*/
        position: relative;
        bottom: -0.4em; }
  #toc a {
    float: right;
    /* Make a white box around the text to hide the background dots */
    height: 1.6em;
    padding-left: 0.4em;
    padding-right: 0em;
    background-color: white;
    display: block;
    height: 100%;
    position: absolute;
    /* Move the Link a few Pixel deeper than its normal bottom */
    bottom: -0.3em;
    right: 0; }
    #toc a span {
      /* Move the Text to the bottom of List */
      position: absolute;
      bottom: 0; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   CODE                                     */
/*////////////////////////////////////////////////////////////////////////////*/
code {
  font-family: "Source Code Pro", monospace; }

.inlineCode {
  font-size: 13pt;
  font-weight: 500;
  background-color: #f0f0ef;
  padding: 0 0.3em; }

pre {
  /* Creepy behavior of pre require use of CSS Tables*/
  display: table;
  table-layout: fixed;
  width: 100%;
  font-size: 11pt;
  line-height: 1.6em;
  padding-bottom: 1.4em; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    IMAGE                                   */
/*////////////////////////////////////////////////////////////////////////////*/
img {
  max-width: 100%;
  padding-bottom: 1.4em;
  display: block;
  margin: 0 auto; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                     LIST                                   */
/*////////////////////////////////////////////////////////////////////////////*/
ul, ol {
  padding: 0 0 1.4em 1.4em; }
  ul ul, ul ol, ol ul, ol ol {
    padding: 0 0 0 2em; }

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   CAPTION                                  */
/*////////////////////////////////////////////////////////////////////////////*/
.cap {
  display: block;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  padding-bottom: 1.4em; }
  .cap span {
    font-weight: 600; }
