/*
    ____  __           __   __  _____ 
   / __ )/ /___  _____/ /__/  |/  / / 
  / __  / / __ \/ ___/ //_/ /|_/ / /  
 / /_/ / / /_/ / /__/ ,< / /  / / /___
/_____/_/\____/\___/_/|_/_/  /_/_____/

*/

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   IMPORTS                                  */
/*////////////////////////////////////////////////////////////////////////////*/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);

/*////////////////////////////////////////////////////////////////////////////*/
/*                       SASS VARS, MIXINS AND FUNCTIONS                      */
/*////////////////////////////////////////////////////////////////////////////*/

@mixin centerWithWidth($width) {
	display: block;
	margin: 0 auto;
	width: $width;
}

@mixin center {
	display: block;
	margin: 0 auto;
}

$generalPadding: 60px;
$paragraphPadding: 1.4em;

$fontColor: #575756;
$linkColor: #6176F6;
$selectionColor: #F1FC82;

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   RESET                                    */
/*////////////////////////////////////////////////////////////////////////////*/

* {
    margin: 0;
    padding: 0;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                  GENERAL                                   */
/*////////////////////////////////////////////////////////////////////////////*/

body {
	max-width: 660px;
	@include centerWithWidth(70%);
	padding: $generalPadding*2 0;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    FONT                                    */
/*////////////////////////////////////////////////////////////////////////////*/

html {
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14pt;
	line-height: 1.6em;
	color: $fontColor;
	word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6, p, li, div, span {
	font-weight: 400;
}

p {
	padding-bottom: $paragraphPadding;
}

a {
    text-decoration: none;
    color: $linkColor;
    &:hover {
		color: darken($linkColor, 20%);
		text-decoration: underline;
	}
}

::selection { 
	background-color: $selectionColor;
}
::-moz-selection { 
	background-color: $selectionColor; 
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   HEADINGS                                 */
/*////////////////////////////////////////////////////////////////////////////*/

h1, h2, h3, h4, h5, h6 {
	padding: 0.6em 0;
	line-height: 1.2em;
}

h1 {
	font-size: 28pt;
}

h2 {
	font-size: 22pt;
}

h3 {
	font-size: 18pt;
}

h4 {
	font-size: 16pt;
}

h5 {
	font-size: 14pt;
}

h6 {
	font-size: 12pt;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    TITLE                                   */
/*////////////////////////////////////////////////////////////////////////////*/

#title {
	text-align: center;
	font-size: 36pt;
	padding-bottom: $generalPadding;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    ERROR                                   */
/*////////////////////////////////////////////////////////////////////////////*/

.error {
	background-color: $selectionColor;
	text-align: center;
	padding: 0.4em 0;
	font-family:"Source Code Pro", monospace;
	font-weight: 500;
	color: darken($selectionColor, 40%);
	border-radius: 10px;
	margin-bottom: $paragraphPadding;

	a {
		color: darken($selectionColor, 32%);
		text-decoration: underline;
	}
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    TOC                                     */
/*////////////////////////////////////////////////////////////////////////////*/

#toc {
	padding-bottom: $generalPadding;

	ul {
		list-style: none;
		/* List should start on the left edge */
		padding-left: 0px;

		ul {
			/* SubLists are indented*/
			padding-left: 30px;
		}
		li {
			> span {
				display: inline-block;
				max-width: 90%;
				span {
					/* Make a white box around the text to hide the background dots */
					height: 18pt;
					padding-right: 4px;
					background-color: white;
					/* Move the Text a few Pixel deeper than its normal bottom */
					/* Moving the Picture is not possible...for reasons...*/
					position: relative;
					bottom: -8px;
				}
			}
		}
	}
	li {
		/* Set a repeating background picture on the bottom */
		background: url(dot.svg) repeat-x bottom left;
		/* To give the Link a fix position */
		position: relative; 
	}
	a {
		float: right;
		/* Make a white box around the link to hide the background dots */
		height: 18pt;
		padding-left: 4px;
		background-color: white;

		display: block;
		height: 100%;

		position: absolute; 
		/* Move the Link a few Pixel deeper than its normal bottom */
		bottom: -5px;
		right: 0;

		span {
			/* Move the Text to the bottom of List */
			position: absolute; 
			bottom: 0;
		}
	}
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   CODE                                     */
/*////////////////////////////////////////////////////////////////////////////*/

code {
	font-family:"Source Code Pro", monospace;
}

.inlineCode {
	font-size: 13pt;
	font-weight: 500;
	background-color: lighten($fontColor, 60%);
	padding: 0 0.3em;
}

pre {
	/* Creepy behavior of pre require use of CSS Table*/
  	display: table;
  	table-layout: fixed;
  	width: 100%;
    font-size: 11pt;
    line-height: 1.6em;
    padding-bottom: $paragraphPadding;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    IMAGE                                   */
/*////////////////////////////////////////////////////////////////////////////*/

img {
	max-width: 100%;
	padding-bottom: $paragraphPadding;
	@include center;
}























