/*
_______                         _______                        
___    |__      ____      __    ___    |_______________________
__  /| |_ | /| / /_ | /| / /    __  /| |__  __ \__  __ \_  ___/
_  ___ |_ |/ |/ /__ |/ |/ /     _  ___ |_  /_/ /_  /_/ /(__  ) 
/_/  |_|___/|__/ ____/|__/      /_/  |_|  .___/_  .___//____/  
                                       /_/     /_/             
*/

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   IMPORTS                                  */
/*////////////////////////////////////////////////////////////////////////////*/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   RESET                                    */
/*////////////////////////////////////////////////////////////////////////////*/

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, li {
	font-weight: 300;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
	-webkit-font-smoothing: antialiased;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                       SASS VARS, MIXINS AND FUNCTIONS                      */
/*////////////////////////////////////////////////////////////////////////////*/

@mixin center {
	display: block;
	margin: 0 auto;
}

@mixin centerWithWidth($width) {
	display: block;
	margin: 0 auto;
	width: $width;
}

/* Responsive Breakpoints */
$mobile: 480px - 1px;
$tablet: 768px;

@mixin textSize($size) {
	/* Default Screen*/
	font-size: $size;
	padding-bottom: 0.3em;
	text-align: center;

	@media screen and (max-width: $tablet), screen and (max-device-width: $tablet) {
		font-size: $size * (3/4);
	}
	@media screen and (max-width: $mobile), screen and (max-device-width: $mobile) and (orientation : portrait) {
		font-size: $size * (2/3);
	}
}

@mixin styleSection($backgroundColor, $textColor, $horizontalPadding, $linkColor: #D0FE02) {
	background-color: $backgroundColor;
	padding: $horizontalPadding 0;
	color: $textColor;
	a:hover {
		color: $linkColor;
	}
}

@mixin imageMargin($horizontalPadding) {
	margin: $horizontalPadding * 2 auto $horizontalPadding auto;
}

@mixin imageHoverEffect {
	a img:hover {
		opacity:0.6;
	}
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   GENERAL                                  */
/*////////////////////////////////////////////////////////////////////////////*/

.in {
	$sideWidth: 70%;
    @include centerWithWidth($sideWidth);
    max-width: 600px;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

h1 {
	@include textSize(32pt);
}

h2 {
	@include textSize(28pt);
}

h3 {
	@include textSize(22pt);
}

p, li {
	@include textSize(16pt);
}

::selection { 
	$selectionColor: #3E38F3;
	background-color: $selectionColor;
	color: lighten($selectionColor, 30%);
}

@media screen and (max-width: 600px), screen and (max-device-width: 600px) {
	br {
		display: none;
	}
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    HEADER                                  */
/*////////////////////////////////////////////////////////////////////////////*/

#header {
	$backgroundColor: #6874F3;
	$textColor: lighten($backgroundColor, 20%);
	$linkColor: lighten($backgroundColor, 10%);
	$horizontalPadding: 6%;
	@include styleSection($backgroundColor, $textColor, $horizontalPadding, $linkColor);
	img {
		@include centerWithWidth(50%);
		padding-bottom: 5%;
	}

	/* Navigation */
	padding-top: 1.5%;
	ul {
		list-style: none;
		@include centerWithWidth(90%);
		text-align: right;
		padding-bottom: $horizontalPadding/2;
		@media screen and (max-width: 600px), screen and (max-device-width: 600px) {
			text-align: center;
			li {
				@include textSize(20pt);
				margin: 0 3%;
			}
			padding-bottom: $horizontalPadding;
		}
	}
	li {
		margin: 0 1%;
		display: inline;
	}
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    APPS                                    */
/*////////////////////////////////////////////////////////////////////////////*/

#apps {
	$backgroundColor: #F6F6F6;
	$textColor: darken($backgroundColor, 30%);
	$linkColor: darken($backgroundColor, 50%);
	$horizontalPadding: 3%;
	@include styleSection($backgroundColor, $textColor, $horizontalPadding, $linkColor);

	$appsGridWith: 100%;
	.grid {
		@include centerWithWidth($appsGridWith);
		overflow: hidden;
	}
	.col {
		float: left;
		width: 50%;
	}
	@media screen and (max-width: $mobile), screen and (max-device-width: $mobile) and (orientation : portrait) {
	  .col {
	    float: none;
	    @include centerWithWidth(80%);
	  }
	}
	img {
		@include centerWithWidth(50%);
		border-radius: percentage(10 / 57);
		@include imageMargin($horizontalPadding);
	}
	p {
		margin: 0 5%;
	}
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    BLOG                                    */
/*////////////////////////////////////////////////////////////////////////////*/

#blog {
	$backgroundColor: #373A3B;
	$textColor: lighten($backgroundColor, 60%);
	$linkColor: lighten($backgroundColor, 40%);
	$horizontalPadding: 3%;
	@include styleSection($backgroundColor, $textColor, $horizontalPadding, $linkColor);
	h1 {
		padding-bottom: 0;
	}
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    ABOUT                                   */
/*////////////////////////////////////////////////////////////////////////////*/

#about {
	$backgroundColor: #EDEDED;
	$textColor: darken($backgroundColor, 30%);
	$linkColor: darken($backgroundColor, 50%);
	$horizontalPadding: 3%;
	@include styleSection($backgroundColor, $textColor, $horizontalPadding, $linkColor);

	$appsGridWith: 90%;
	.grid {
		@include centerWithWidth($appsGridWith);
		overflow: hidden;
	}
	.col {
		float: left;
		width: 50%;
	}

	.face {
		@include centerWithWidth(70%);
		border-radius: 100%;
		margin: 4% * 2 auto 4% * 2  auto;
	}

	ul {
		list-style: none;
		@include centerWithWidth(100%);
		text-align: center;
	}
	li {
		margin: 0 1%;
		display: inline;
		img {
			width: 10%;
		}
		@include imageHoverEffect;

		.laser {
			width: 13%;
		}
	}

	h3 {
		padding-bottom: 0;
	}

	@media screen and (max-width: $mobile), screen and (max-device-width: $mobile) and (orientation : portrait) {
	  .col {
	    float: none;
	    @include centerWithWidth(80%);
	  }
	}
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    CONTACT                                 */
/*////////////////////////////////////////////////////////////////////////////*/

#contact {
	$backgroundColor: #6874F3;
	$textColor: lighten($backgroundColor, 20%);
	$horizontalPadding: 3%;
	@include styleSection($backgroundColor, $textColor, $horizontalPadding);

	$appsGridWith: 70%;
	.grid {
		@include centerWithWidth($appsGridWith);
		overflow: hidden;
	}
	.col {
		float: left;
		width: 50%;
	}
	@media screen and (max-width: $mobile), screen and (max-device-width: $mobile) and (orientation : portrait) {
	  .col {
	    float: none;
	    @include centerWithWidth(80%);
	  }
	}

	img {
		@include centerWithWidth(70%);
		@include imageMargin(10%);
	}
	@include imageHoverEffect;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   LEGAL                                    */
/*////////////////////////////////////////////////////////////////////////////*/

#impressum {
	$backgroundColor: #F6F6F6;
	$textColor: darken($backgroundColor, 30%);
	$linkColor: #6874F3;
	$linkHoverColor: darken($linkColor, 30%);
	$horizontalPadding: 3%;
	@include styleSection($backgroundColor, $textColor, $horizontalPadding, $linkHoverColor);

	h1, h2, h3, p, a {
		text-align: left;
	}

	p {
		$fontSize: 14pt;
		$marginAndLineHeight: 30px; 
		font-size: $fontSize;
		margin: $marginAndLineHeight 0;
		line-height: marginAndLineHeight;

		@media screen and (max-width: $tablet), screen and (max-device-width: $tablet) and (orientation : portrait) {
			$scaleFactor: (3/4);
			font-size: $fontSize * $scaleFactor;
			margin: $marginAndLineHeight * $scaleFactor 0;
			line-height: $marginAndLineHeight * $scaleFactor;
		}
		@media screen and (max-width: $mobile), screen and (max-device-width: $mobile) and (orientation : portrait) {
			$scaleFactor: (2/3);
			font-size: $fontSize * $scaleFactor;
			margin: $marginAndLineHeight * $scaleFactor 0;
			line-height: $marginAndLineHeight * $scaleFactor;
		}
		@media screen and (max-width: 600px), screen and (max-device-width: 600px) {
			br {
				display: inline;
			}
		}
	}

	a {
		color: $linkColor;
	}
	
	#home {
		text-align: center;
	}
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                  FOOTER                                    */
/*////////////////////////////////////////////////////////////////////////////*/

#footer {
	$backgroundColor: #4E5EDE;
	$textColor: lighten($backgroundColor, 20%);
	$linkColor: lighten($backgroundColor, 10%);
	$horizontalPadding: 1.5%;
	@include styleSection($backgroundColor, $textColor, $horizontalPadding, $linkColor);

	img {
		@include centerWithWidth(10%);
		padding: 3% 0;
	}
	@include imageHoverEffect;

	ul {
		list-style: none;
		@include centerWithWidth(100%);
		text-align: center;
	}
	li {
		margin: 0 1%;
		display: inline;
	}

	.small {
		@include textSize(12pt);
		padding-bottom: 0;
	}

}







